@page "/brands/edit/{Id:int}/{RouteName}"
@using Frontend.Client
@inject ApiClient Api
@inject NavigationManager nav

@if(error is not null)
{
    <div class="alert alert-danger">
        @error
    </div>
}
else
{
    <EditForm Model="brandEntity" OnValidSubmit="UpdateAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row align-items-end">
            <div class="col-auto">
                <label class="form-label">Nombre</label>
                <InputNumber class="form-control" @bind-Value="brandEntity.Id" disabled></InputNumber>
            </div>

            <div class="col-auto">
                <label class="form-label">Nombre</label>
                <InputText class="form-control" @bind-Value="brandEntity.Name"></InputText>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" disabled="@isBusy">Crear</button>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string RouteName { get; set; }

    public bool isBusy;
    public string? error = null;
    private BrandEntity brandEntity = new BrandEntity();

    protected override void OnInitialized()
    {
        brandEntity.Id = Id;
        brandEntity.Name = RouteName;
    }

    private async Task UpdateAsync()
    {
        try
        {
            isBusy = true;
            error = null;
            await Api.UpdatebrandAsync(Id,brandEntity);
            nav.NavigateTo("/brands");
        }
        catch (ApiException ex)
        {
            error = ex.Message;
        }
        finally
        {
            isBusy = false;
        }
    }
    
}
